

@media(max-width: 992px){
    .header-top{
        flex-wrap: wrap;
        height: auto;
        padding-top: 25px;
    }

    .menu{
        order: 1;
        width: 100%;
        padding-top: 25px;
        margin: 0;
        
    }

    .menu__list{
        justify-content: flex-end;
    }

    .header-images{
        display: none;
    }

    .header-descr{
        padding: 0;
    }

    .header-descr-title{
        font-size: 28px;
        line-height: 32px;
    }

    .features-items{
        flex-wrap: wrap;
    }

    .features-item{
        width: 50%;
        margin-bottom: 30px;
        padding-right: 10px;
    }

    .direction__item-images{
    
    }

    .direction__item-img{
    

    }


}

@media(max-width: 768px){

}


@media(max-width: 524px){
    .header-top{
        display: block;
    }

    .menu__list{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        text-align: center;
        transform: translateY(-300%);
        transition: all .3s;
    }

    .menu__list.menu__list--active{
        transform: translateY(0);
        transition: all .3s;
    }

    .menu__item + .menu__item{
        margin-left: 0;
    }

    .menu__link{
        display: block;
        padding: 10px 0;
        text-decoration: underline;
    }

    .menu__btn{
        display: block;
        position: absolute;
        right: 10px;
        top: 25px;
    }

    .header__btn{
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
    }

    .header-descr-text{
        width: 100%;
        margin-bottom: 58px;
    }

    .header-descr__item{
        display: block;
    }

    .header-descr__item-btn{
        text-align: center;
        margin-bottom: 15px;
    }

    .header-descr__item-link-link{
        padding-left: 20px;
    }

    .header-descr__item-link::after{
        left: 0;
    }

    .features-item{
        width: 100%;
    }

    .features-title{
        font-size: 20px;
        line-height: 30px;
    }
    
}